body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    overflow: hidden !important;
}


header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3em;
    color: cyan;
    text-shadow: 0 0 10px cyan, 0 0 20px cyan;
}

h2 {
    font-size: 2em;
    color: magenta;
    text-shadow: 0 0 10px magenta, 0 0 20px magenta;
}

p{
    padding-top: 20px;
    padding-bottom: 20px;
}


.game-info {
    text-align: center;
    padding: 40px;
}

.play-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5em;
    color: #000;
    background-color: yellow;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 10px yellow, 0 0 20px yellow;
    transition: background-color 0.3s;
}

.play-button:hover {
    background-color: cyan;
}

footer {
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
}

#dark-mode-toggle {
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    font-size: 1em;
    cursor: pointer;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    .play-button {
        font-size: 1.2em;
    }
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}

body.dark-mode h1,
body.dark-mode h2 {
    text-shadow: none;
}
